<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eka Fitriyah</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
    
        <!-- header -->
        <div class="medsos">
            <div class="container">
              <ul>
                <li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></i></a></li>
              </ul> 
            </div>
        </div>
    <header>
        <div class="container">
            <h1><a href="index.html">Kulinerkuy</a></h1>
            <ul>
                <li class="activate"><a href="index.html">Home</a></li>
                <li class="Food"><a href="Food.html">Food</a></li>
                <li><a href="Contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="header">
             <h1>Kuliner <span>Madura</span></h1>
        </div>

        <div class="content-header">
            <p>Jawa Timur khususnya Madura terkenal dengan berbagai makanan khasnya.</p>
        </div>
        
    </section>
    </header>  

    <!-- banner -->    
    <section class="banner">
        <img src="https://t3.ftcdn.net/jpg/02/94/55/20/240_F_294552009_5NbxjsVksXjUYGXzxO0GPcyZ446K9OI4.jpg" alt="">
    </section>
           
    </body>
</html>